.about {
    padding-top: 94px;
}
.quality-list {
    display: flex;
}
.feature-list {
    width: 270px;

    &:not(:last-child){
        margin-right: 30px;
    }
}
.quality-icon {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    fill:var(--title-text-color)

}